.button {
    padding: 10px 10px 10px 40px;
    background-color: @color-blue;
    background-position: 10px center;
    background-repeat: no-repeat;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    color: @color-gray-light;
    cursor: pointer;

    &_save {
        background-image: url('../img/icon_save.svg');
    }

    &_copy {
        background-image: url('../img/icon_copy.svg');
    }

    &_plane {
        background-image: url('../img/icon_plane.svg');
    }

    &:hover {
        background-color: @color-blue - 10;
    }

    &-inner {
        // text-align: right;
        display: flex;
        justify-content: space-between;
    }
}